<!DOCTYPE html>
<html lang="en">
<!-- Basic -->
<%- include('./components/head') %>
    </head>

    <body class="clinic_version">
        <!-- LOADER -->
        <% if(!dev){ %>
        <div id="preloader">
            <img class="preloader" src="images/loaders/heart-loading2.gif" alt="">
        </div>
        <% } %>
        <!-- END LOADER -->
        <header>
            <div class="header-bottom wow fadeIn">
                <div class="container">
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars"
                                    aria-hidden="true"></i></button>
                        </div>

                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a data-scroll href="/">Home</a></li>
                                <li><a data-scroll href="/contact">Contact</a></li>
                                <li><a class="active" href="/about">About us</a></li>
                                <%if(status){%>
                                    <li><a data-scroll href="/panel">Panel</a></li>
                                    <li><a data-scroll href="/auth/logout">Logout</a></li>
                                    <%}else{%>
                                 <li><a data-scroll href="/auth/login?path=signup">Sign up</a></li>
                                 <li><a data-scroll href="/auth/login">Login</a></li>
                                 <%}%>
                            </ul>
                        </div>
                    </nav>
                    <div class="serch-bar">
                        <div id="custom-search-input">
                            <div class="input-group col-sm-12">
                                <input type="text" class="form-control input-lg" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="home" class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4"
            style="background-image:url('images/bg-testimonial.png');">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="aboutus">
                            <h2 class="aboutus-title">About Us</h2>
                            <p class="aboutus-text">To be the undisputed market leader by providing accessible, affordable, timely and quality healthcare diagnostics, applying insights and cutting edge technology to create value for all stakeholders.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="aboutus-banner">
                            <img src="images/icon-logo.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="feature">
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="glyphicon glyphicon-cog icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Work with heart</h4>
                                        <p>Heartwork is your purpose combined with passion; it is taking whatever your heart has been charged with and committing to do the work necessary to honor your spirit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="glyphicon glyphicon-cog icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Reliable services</h4>
                                        <p>We have ability to perform the promised service dependably and accurately. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="glyphicon glyphicon-cog icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Great support</h4>
                                        <p>Great customer service means meeting customer expectations—from interacting with customers over messaging channels because they expect convenience to investing in your knowledge base because they expect to find answers on their own.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <style>
            .aboutus-section {
                padding: 90px 0;
            }

            .aboutus-title {
                font-size: 30px;
                letter-spacing: 0;
                line-height: 32px;
                margin: 0 0 39px;
                padding: 0 0 11px;
                position: relative;
                text-transform: uppercase;
                color: #000;
            }

            .aboutus-title::after {
                background: #157fda none repeat scroll 0 0;
                bottom: 0;
                content: "";
                height: 2px;
                left: 0;
                position: absolute;
                width: 54px;
            }

            .aboutus-text {
                color: #606060;
                font-size: 13px;
                line-height: 22px;
                margin: 0 0 35px;
            }

            a:hover,
            a:active {
                color: #157fda;
                text-decoration: none;
                outline: 0;
            }

            .feature .feature-box .iconset {
                float: left;
                position: relative;
                width: 18%;
            }

            .feature .feature-box .iconset::after {
                background: #157fda none repeat scroll 0 0;
                content: "";
                height: 150%;
                left: 43%;
                position: absolute;
                top: 100%;
                width: 1px;
            }

            .feature .feature-box .feature-content h4 {
                color: #0f0f0f;
                font-size: 18px;
                letter-spacing: 0;
                line-height: 22px;
                margin: 0 0 5px;
            }


            .feature .feature-box .feature-content {
                float: left;
                padding-left: 28px;
                width: 78%;
            }

            .feature .feature-box .feature-content h4 {
                color: #0f0f0f;
                font-size: 18px;
                letter-spacing: 0;
                line-height: 22px;
                margin: 0 0 5px;
            }

            .feature .feature-box .feature-content p {
                color: #606060;
                font-size: 13px;
                line-height: 22px;
            }

            .icon {
                color: #157fda;
                padding: 0px;
                font-size: 40px;
                border: 1px solid #157fda;
                border-radius: 100px;
                color: #157fda;
                font-size: 28px;
                height: 70px;
                line-height: 70px;
                text-align: center;
                width: 70px;
            }
        </style>
        <!-- end section -->
        <%- include('./components/footer') %>
    </body>

</html>