<div class="copyright-area wow fadeIn">
    <div class="container">
       <div class="row">
          <div class="col-md-8">
             <div class="footer-text">
                <p>© 2023 Supreme Lifecare. All Rights Reserved.</p>
             </div>
          </div>
          <div class="col-md-4">
             <div class="social">
                <ul class="social-links">
                   <li><a href=""><i class="fa fa-facebook"></i></a></li>
                   <li><a href=""><i class="fa fa-twitter"></i></a></li>
                   <li><a href=""><i class="fa fa-youtube"></i></a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end copyrights -->
 <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
 <!-- all js files -->
 <script defer src="js/all.js"></script>
 <!-- all plugins -->
 <script defer src="js/custom.js"></script>